$link-color: #3B29AE;;
$link-hover: #2c3e50;
$title-color:#1ACDA3;
$text-color: #424C4D;
$background: #2c3e50;

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 800px;

  h1 {
      font-size: 42px;
      font-weight: bold;
      color: $background;
  }

  .divide-line {
    border: 1px solid #2c3e50;
  }
}


h2 {
  font-size: 30px;
  color: $title-color;
  margin-top: 5px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;

}


.resume-section {
  margin-top: 15px;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title-sites {
  display: flex;
  align-items: center;

  a:first-child {
    padding-right: 5px;
    margin-right: 5px;
    border-right: solid gray;
    border-width: .2px;
  }
}


.link {
  text-decoration: underline;
  display: flex;
  align-items: center;
  color: $link-color;
  font-size: 18px;
}

.link:hover {
  color: $background;
}

.text {
  color: $text-color;
}

.resume-section-child {
  margin-bottom: 10px;
}

.education-child {
  display: flex;
  flex-direction: column;

}
