$link-color: #0109FE;;
$link-hover: #0109FE;
$title-color:#1ACDA3;
$text-color: #424C4D;
$background: #2c3e50;

.App {
  width: 100%;
}

.navbar-container {
  background-color: $background;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    font-weight: bold;
    color: white;
    margin: 10px;
    font-size: 36px;
  }

  a:hover {
    color: $title-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 10px;
  }

  a:hover {
    color: $title-color;
    text-decoration: underline;
  }
}

.header-container {
  height: 100%;
  width: 100%;
  background-color: $title-color;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
  }

  span {
    color: $text-color;
  }

  h3 {
    font-size: 28px;
  }
}

.header-img {
  height: 300px;
  border-radius: 50%;
}

.divide-line {
  width: 50%;
  border: 1px solid white;
  margin: 10px;
}
