@import '../../assets/colors';

.download-button {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  border: 1px solid $background;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;

  span {
    font-size: 24px;
    margin: 10px;
  }

  ion-icon {
    font-size: 30px;
  }
}

.download-button:hover {
  background-color: $title-color;
  border: 1px solid white;
}