$link-color: #3B29AE;;
$link-hover: #2c3e50;
$title-color:#1ACDA3;
$text-color: #424C4D;
$background: #2c3e50;

html, body, header, nav, h1, a, strong, main, button, i,
 section, img, div, h2, h3, h4, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   list-style: none;
   font-family: Gill Sans, sans-serif;
   color: #424C4D;
 }

 html, body{
    min-height: 100%;
    min-width: 100%;
    background-color: white;
}

#root {
  display: flex;
  justify-content: center;
}


